<!-- <div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <div>
                    <div>
                      <div class="chart">
                        <canvas baseChart
                                [data]="pieChartData"
                                [type]="pieChartType"
                                [options]="pieChartOptions">
                        </canvas>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <div>
                    <div>
                      <div class="chart">
                        <canvas baseChart
                                [data]="pieChartData"
                                [type]="pieChartType"
                                [options]="pieChartOptions">
                        </canvas>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

  </div> -->

  <div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" >{{graficos['grafico1'].leyenda}}</h4>
                <app-grafico-dona name="dona1" 
                    [data]="{labels:[graficos['grafico1'].labels[0],graficos['grafico1'].labels[1],graficos['grafico1'].labels[2]],
                    datasets: [ {data: graficos['grafico1'].data} ]}" 
                    [type]="graficos['grafico1'].type" >
                </app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{graficos['grafico2'].leyenda}}</h4>
                <app-grafico-dona name="dona2" 
                    [data]="{labels:[graficos['grafico2'].labels[0],graficos['grafico2'].labels[1]],
                    datasets: [ {data: graficos['grafico2'].data} ]}" 
                    [type]="graficos['grafico2'].type" >
                </app-grafico-dona>

            </div>
        </div>
    </div>

  </div>

  <div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{graficos['grafico3'].leyenda}}</h4>
                <app-grafico-dona name="dona3" 
                    [data]="{labels:[graficos['grafico3'].labels[0],graficos['grafico3'].labels[1]],
                    datasets: [ {data: graficos['grafico3'].data} ]}" 
                    [type]="graficos['grafico3'].type" >
                </app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{graficos['grafico4'].leyenda}}</h4>
                <app-grafico-dona name="dona4" 
                    [data]="{labels:[graficos['grafico4'].labels[0],graficos['grafico4'].labels[1]],
                    datasets: [ {data: graficos['grafico4'].data} ]}" 
                    [type]="graficos['grafico4'].type" >
                </app-grafico-dona>

            </div>
        </div>
    </div>

  </div>
